@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}
p,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  justify-content: center;
}
.site-list__item {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #81B3D2;
  box-shadow: 0px -1px 0px rgba(1, 1, 1, 0.2);
}
.site-list__link {
  padding: 17px 109px 12px 108px;
  display: block;
}
.hero {
  background-image: url("../img/hero_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #DFEDF6;
  display: flex;
  justify-content: center;
}
.hero--small {
  background-image: url("../img/hero_background_catalog.jpg");
  background-color: #7A6769;
}
.introduction__image {
  padding: 90px 19px 85px 19px;
}
.introduction__container {
  display: flex;
  flex-direction: column;
  margin: 32px 18px 16px 18px;
  align-items: stretch;
}
.introduction__container--catalog {
  margin: 37px 20px 25px 20px;
}
.introduction__container--form {
  margin: 36px 20px 28px 20px;
}
.intro-text__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.intro-text__description {
  line-height: 21px;
  margin: 0;
  font-size: 14px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  padding-top: 35px;
}
.intro-text__description--form {
  padding-top: 24px;
}
.advantages__list {
  list-style: none;
}
.advantages__item--with-picture {
  background: #81B3D2;
}
.advantages__item--without-picture {
  background: #EEEEEE;
}
.advantages__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  padding-top: 33px;
}
.advantages__title--with-picture {
  color: #FFFFFF;
}
.advantages__description {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.advantages__description--with-picture {
  color: #FFFFFF;
}
.advantages__description--advice {
  color: #333333;
  text-align: start;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 49px;
}
.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__title,
.search__description {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.search__button {
  margin-top: 32px;
  padding: 16px 49px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81B3D2;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 26px;
  font-weight: 700;
  font-size: 21px;
  border: none;
  cursor: pointer;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__picture-container {
  margin-top: 28px;
  margin-bottom: 33px;
}
.footer__social {
  margin-top: 33px;
  margin-bottom: 40px;
}
.footer__logo-container {
  margin-bottom: 23px;
}
.social__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  gap: 6px;
  padding: 0;
}
.social__item {
  width: 24px;
  height: 24px;
  background: #81B3D2;
}
.gallery {
  display: flex;
  justify-content: center;
}
.gallery__list {
  list-style: none;
}
.gallery__title {
  text-transform: uppercase;
  margin-top: 15px;
}
.gallery__like-container {
  margin: 11px auto 25px 20px;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video__container {
  margin-top: 17px;
  margin-bottom: 38px;
}
.video__title,
.video__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
}
.registration {
  display: flex;
  justify-content: center;
}
.registration__title {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
}
.registration__input {
  margin-bottom: 16px;
  background: #F2F2F2;
  border: none;
  padding: 16px;
}
.registration__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.registration__input--contacts::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.registration__wrapper {
  display: grid;
}
.registration__label {
  padding-left: 16px;
  text-transform: uppercase;
}
.registration__container--name {
  margin-bottom: 39px;
}
.registration__container--contacts {
  margin-bottom: 34px;
}
.registration__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.registration__fieldset--impression,
.registration__fieldset--places {
  margin-bottom: 8px;
}
.registration__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.registration__item {
  padding-bottom: 16px;
}
.registration__label-radio,
.registration__label-checkbox {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
}
.registration__button {
  padding: 16px 49px;
}
.registration__notice {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 3px;
  margin-bottom: 24px;
  display: flex;
  justify-content: right;
}
.comments__label {
  display: block;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
}
.comments__input {
  background: #F2F2F2;
  border: none;
  margin: 0;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  min-width: 279px;
  min-height: 150px;
  margin-bottom: 56px;
}
.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.modal__title,
.modal__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
}
.modal-error__text-container {
  margin: 45px 42px 28px 41px;
}
.modal-error__button {
  padding: 18px 64px 14px 63px;
  margin-bottom: 35px;
}
.modal-success__text-container {
  margin: 39px 39px 30px 37px;
}
.modal-succes__button-container {
  background: #F2F2F2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-success__button {
  padding: 18px 62px 14px 60px;
}
/*# sourceMappingURL=style.css.map */
