.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 26px;
  font-weight: 700;
  font-size: 21px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
  }
}
