.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-bottom: 36px;
    width: 768px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.footer__picture-container {
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__picture {
  display: block;
}

.footer__social {
  margin-top: 33px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__logo-container {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__logo {
  display: block;
}
