.site-list__item {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #81B3D2;
  box-shadow: 0px -1px 0px rgba(1, 1, 1, 0.2);
}

.site-list__link {
  padding: 17px 109px 12px 108px;
  display: block;
}
