.social__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
  padding: 0;
  margin: 0;
}

.social__icon {
  position: absolute;
  fill: #ffffff;

  &--vk {
    top: 17px;
    right: 12px;
  }

  &--youtube {
    top: 17px;
    right: 14px;
  }

  &--telegram {
    top: 16px;
    right: 15px;
  }
}

.social__link {
  display: block;
  position: relative;
  padding: 24px;
  background-color: #81b3d2;

  &--telegram {
    background-image: url("../img/telegram-icon.svg");
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link:active .social__icon {
  fill: rgba(255, 255, 255, 0.3);
}
