@import "./utils/normalize.less";
@import "./utils/variables.less";
@import "./blocks/main-header.less";
@import "./blocks/main-nav.less";
@import "./blocks/site-list.less";
@import "./blocks/hero.less";
@import "./blocks/introduction.less";
@import "./blocks/intro-text.less";
@import "./blocks/index/advantages.less";
@import "./blocks/index/search.less";
@import "./blocks/index/map.less";
@import "./blocks/button.less";
@import "./blocks/main-container.less";
@import "./blocks/footer.less";
@import "./blocks/social.less";
@import "./blocks/catalog/gallery.less";
@import "./blocks/catalog/video.less";
@import "./blocks/form/registration.less";
@import "./blocks/form/comments.less";
@import "./blocks/form/modal.less";
@import "./blocks/form/modal-error.less";
@import "./blocks/form/modal-success.less";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
