.advantages__list {
  list-style: none;
}

.advantages__item {
  &--with-picture {
    background: #81b3d2;
  }
  &--without-picture {
    background: #eeeeee;
  }
}

.advantages__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  padding-top: 33px;

  &--with-picture {
    color: #ffffff;
  }
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;

  &--with-picture {
    color: #ffffff;
  }
  &--advice {
    color: #333333;
    text-align: start;
  }
}
