.search {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-top: 61px;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 59px;
    margin-bottom: 67px;
  }
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 435px;
  }
}

.search__title,
.search__description {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  padding-bottom: 21px;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    padding-bottom: 32px;
    font-size: 30px;
  }
}

.search__description {
  width: 262px;
  line-height: 20px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    width: 397px;
    line-height: 22px;
  }
}

.search__button {
  margin-top: 35px;
  padding: 16px 49px;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 121px;
    padding-right: 121px;
    min-width: 458px;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
  }
}
