.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__label {
  position: relative;
  display: block;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: @mobile-width-only) and (max-width:@tablet-width) {
    padding-left: 38px;
    padding-right: 37px;
  }
}

.comments__input {
  background: #f2f2f2;
  border: none;
  margin: 0;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  min-width: 279px;
  min-height: 150px;
  margin-bottom: 56px;
  outline: none;
  resize: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:focus {
    background: #e5e5e5;
  }

  &:active {
    background: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}
