.modal-error {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 400px;
  }
}

.modal-error__text-container {
  margin: 45px 42px 28px 41px;
}

.modal-error__title {
  @media (min-width: @tablet-width) {
    line-height: 40px;
  }
}

.modal-error__button {
  width: 180px;
  padding: 18px 64px 14px 63px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 272px;
  }
}
