.registration {
  display: flex;
  justify-content: center;
}

.registration__title {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
}

.registration__input {
  margin-bottom: 16px;
  background: #f2f2f2;
  border: none;
  padding: 16px;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }

  &--contacts::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.registration__wrapper {
  display: grid;
}

.registration__label {
  padding-left: 16px;
  text-transform: uppercase;
}

.registration__container {
  &--name {
    margin-bottom: 39px;
  }

  &--contacts {
    margin-bottom: 34px;
  }
}

.registration__contacts-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 280px 298px;
    column-gap: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 430px 402px;
    column-gap: 128px;
  }

}


.registration__fieldset {
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;

  &--impression,
  &--places {
    margin-bottom: 8px;
  }
}

.registration__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--impression {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 280px);
      gap: 16px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(3, 280px);
      row-gap: 17px;
      column-gap: 28px;
    }
  }

  &--places {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 224px);
      column-gap: 32px;
      row-gap: 16px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr) ;
      column-gap: 64px;
    }
  }
}

.registration__item {
  padding-bottom: 16px;
}

.registration__label-radio,
.registration__label-checkbox {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
}

.registration__button {
  padding: 16px 49px;
}

.registration__notice {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 3px;
  margin-bottom: 24px;
  display: flex;
  justify-content: right;
}
