.gallery {
  display: flex;
  justify-content: center;
}

.gallery__list {
  list-style: none;
}

.gallery__title {
  text-transform: uppercase;
  margin-top: 15px;
}

.gallery__like-container {
  margin: 11px auto 25px 20px;
}
